---
title: Dave Powers
description: Learn more about me (Dave Powers) and the web projects and writing I've been working on.
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if noindex %}
      <meta name="robots" content="noindex">
    {% endif %}

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
      {% include "main.css" %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <nav>
      <strong><a href="/">Dave Powers</a></strong>
      <ul>
        <li><a href="/writing/">Writing</a></li>
        <li><a href="/uses/">Uses</a></li>
        <li><a href="/now/">Now</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>

    <main>
      {{ content | safe }}
    </main>
  </body>

</html>
