---
title: Dave Powers
description: Personal site of Dave Powers, a web developer and humor writer based out of Boston, MA.
---

<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if noindex %}
      <meta name="robots" content="noindex">
    {% endif %}
    <meta name="generator" content="{{ eleventy.generator }}">

    {# capture the CSS content as a Nunjucks variable #}
    {% set css %}
      {% include "main.css" %}
    {% endset %}
    {# feed it through our cssmin filter to minify #}
    <style>
      {{ css | cssmin | safe }}
    </style>
  </head>

  <body>
    <nav>
      <strong><a href="/">Dave Powers</a></strong>
      <ul>
        <li><a href="/writing/">Writing</a></li>
        <li><a href="/uses/">Uses</a></li>
        <li><a href="/now/">Now</a></li>
        <li><a href="/contact/">Contact</a></li>
      </ul>
    </nav>

    <main>
      {{ content | safe }}
    </main>
  </body>

  <footer>
    <p>
      &copy; Dave Powers {{ helpers.currentYear() }}
    <p>
  </footer>
</html>
