---
layout: default.njk
---
<h2>Uses</h2>

<p>Mostly for my own documentation, but here's a list of tools I use that make my life easier. Feel free to borrow any ideas.</p>

{% for use in uses %}
  <h3>{{ use.category }}</h3>
  {% for item in use.items %}
    <ul>
      <li>
        <a href="{{ item.url }}">{{ item.name }}</a>
        {{ item.description }}
      </li>
    </ul>
  {% endfor %}
{% endfor %}
