---
layout: default.njk
title: Writing | Dave Powers
description: Links to external sites where Dave Powers has been published
---

<h1>Writing</h1>

<em>
  Posts published on this site can be found <a href="/blog/">here</a>.
</em>

{% for publication in publications %}
  <h2>{{ publication.name }}</h2>
  <ul>
    {% for piece in publication.pieces %}
      <li><a href="{{ piece.url }}">{{ piece.title }}</a>
    {% endfor %}
  </ul>
{% endfor %}
